@importtheme "_base";

.disasm-font { 
/*  font-family: "<DISASSEMBLY_FONT_FAMILY>";
  font-size: <DISASSEMBLY_FONT_SIZE>;
  font-style: <DISASSEMBLY_FONT_STYLE>;
  font-weight: <DISASSEMBLY_FONT_WEIGHT>;
  */
}
.hexview-font {
/*  font-family: "<HEXVIEW_FONT_FAMILY>";
  font-size: <HEXVIEW_FONT_SIZE>;
  font-style: <HEXVIEW_FONT_STYLE>;
  font-weight: <HEXVIEW_FONT_WEIGHT>;
  */
}
.text-input-font {
/*  font-family: "<TEXT_INPUT_FONT_FAMILY>";
  font-size: <TEXT_INPUT_FONT_SIZE>;
  font-style: <TEXT_INPUT_FONT_STYLE>;
  font-weight: <TEXT_INPUT_FONT_WEIGHT>;
  */
}
/* Common properties */
QWidget {
  background-color: #1E1E1E;
  color: #D4D4D4;
}
IDAView {
  border: none;
  border-bottom: 1px solid #414141;
/*  font-family: "<DISASSEMBLY_FONT_FAMILY>";
  font-size: <DISASSEMBLY_FONT_SIZE>;
  font-style: <DISASSEMBLY_FONT_STYLE>;
  font-weight: <DISASSEMBLY_FONT_WEIGHT>;
  */
}
hexview_t {
  border: none;
/*  font-family: "<HEXVIEW_FONT_FAMILY>";
  font-size: <HEXVIEW_FONT_SIZE>;
  font-style: <HEXVIEW_FONT_STYLE>;
  font-weight: <HEXVIEW_FONT_WEIGHT>;
  */
}
QToolBar {
  /* Toolbar */
  background-color: #333;
  border: none;
  padding: 8px;
  spacing: 8px;
}
QToolBar:active {
  background-color: #3C3C3C;
}
QToolBar QWidget {
  background: transparent;
}
QToolBar:handle {
  image: url("$RELPATH/icons/drag.png");
  padding-right: 10px;
  padding-left: 0;
  width: 10px;
}
IDAMainWindow > QStatusBar {
  min-height: 0;
  height: 27px;
  padding-left: 7px;
  background: #007acc;
}
IDAMainWindow > QStatusBar:item {
  border: none;
}
IDAMainWindow > QStatusBar QWidget {
  font-family: 'Consolas', 'Menlo';
  color: #fff;
  padding-left: 17px;
}
QPushButton {
  /* Buttons */
  font-family: 'Segoe UI', 'Helvetica Neue';
  text-align: center;
  min-height: 20px;
  min-width: 50px;
  border: none;
  background: #0e639c;
  padding: 2px 14px;
}
QPushButton:hover {
  background: #17b;
  border: 1px solid #2D3234;
}
QPushButton:default {
  border: 1px solid #2D3234;
}
QPushButton:pressed {
  border: 1px solid #215D9C;
}
QTreeView {
  font-family: 'Segoe UI', 'Helvetica Neue';
  border: 1px solid #1B1F20;
}
QTreeView:item {
  font-family: 'Segoe UI', 'Helvetica Neue';
  font-size: 14px;
  height: 27.5px;
}
QTreeView:item:selected {
  background-color: #094771;
}
QLineEdit {
  /* Single line edit */
  font-family: 'Segoe UI', 'Helvetica Neue';
  border: 1px solid transparent;
  background: #272727;
  color: #ccc;
  padding: 4px;
}
QLineEdit:focus {
  border: 1px solid #135785;
}
/* Dock widget without tabs */
QTabBar {
  font-family: 'Segoe UI', 'Helvetica Neue';
  background-color: #252526;
}
QTabBar:tab {
  border-right: 1px solid #252526;
  background-color: #2D2D2D;
  height: 20px;
/*  text-transform: uppercase; */
  font-size: 12px;
  padding-left: 4px;
  padding-right: 4px;
}
QTabBar:tab:selected {
  background-color: #1E1E1E;
}
QTabBar:close-button {
  /* For toolbar */
  image: url("$RELPATH/icons/close.png");
  icon-size: 20px;
  padding: 0px;
}
QTabBar:close-button:hover {
  background: rgba(255, 255, 255, 0.1);
}
QTabBar:close-button:pressed {
  icon-size: 24px;
  padding: 1px -1px -1px 1px;
}
QMenuBar {
  /* Menu bar & items */
  font-family: 'Segoe UI', 'Helvetica Neue';
  background-color: #333;
  padding-left: 2px;
}
QMenuBar:active {
  background-color: #3C3C3C;
}
QMenuBar:item {
  background: transparent;
  color: #ccc;
  padding: 8px 9px;
}
QMenuBar:item:selected {
  background-color: #505050;
}
QTableView {
  /* Table and headers */
  font-family: 'Segoe UI', 'Helvetica Neue';
  border: 1px solid #1B1F20;
  background-color: #252526;
}
QTableView:item {
  font-family: 'Segoe UI', 'Helvetica Neue';
  font-size: 14px;
  height: 27.5px;
}
QTableView:item:selected {
  border: none !important;
  background-color: #094771;
}
QTableView:section:item {
  background: #1e1e1e !important;
}
QTableView QHeaderView:section {
  background-color: #2D2D2D;
  border: none;
}
QTableView QHeaderView:section:horizontal {
  padding: 5px;
  border-left: 1px solid #2D3234;
}
QTableView QHeaderView:section:vertical {
  padding: 0;
  background: transparent;
}
QTableView QTableCornerButton:section {
  background: #2D3234;
  border: 0px outset #000;
}
QListView {
  border: 1px solid #1B1F20;
}
QListView:item {
  font-family: 'Segoe UI', 'Helvetica Neue';
  font-size: 14px;
  height: 27.5px;
}
QListView:item:selected {
  background-color: #094771;
}
QCheckBox {
  background-color: #D4D4D4;
}
QCheckBox,
QLabel,
QRadioButton {
  background: transparent;
}
QMenu {
  background-color: #252526;
  padding-bottom: 8px;
}
QMenu:item {
  font-weight: 400;
  padding: 6px 40px 3px 40px;
}
QMenu:item:selected {
  background-color: #094771;
}
QMenu:right-arrow {
  image: url("$RELPATH/icons/menu.png");
  margin: 5px 15px 5px 5px;
}
QMenu:icon {
  padding-left: 20px;
}
QMenu:separator {
  height: 1px;
  background: #616162;
  width: 1px;
  margin: 6px;
}
QComboBox {
  /* Combobox which is editable or not editable */
  background: #3c3c3c;
  border: 1px solid #1B1F20;
  padding: 4px;
}
QComboBox:focus,
QComboBox:on {
  border: 1px solid #135785;
  border: 1px solid transparent;
}
QComboBox:editable {
  border: 1px solid transparent;
}
QComboBox QLineEdit {
  background: transparent;
  border: 0;
  padding: 0;
}
QComboBox:drop-down {
  subcontrol-origin: padding;
  subcontrol-position: top right;
  border: none;
  width: 20px;
}
QComboBox:drop-down:editable {
  subcontrol-origin: padding;
  subcontrol-position: top right;
  border: none;
  width: 20px;
}
QComboBox:down-arrow {
  image: url("$RELPATH/icons/expand.png");
  margin: 0;
}
QComboBox > QLineEdit {
  border: none;
  min-height: default;
}
QComboBox > QLineEdit:hover {
  border: none;
  min-height: default;
}
QComboBox > QLineEdit:focus {
  border: none;
  min-height: default;
}
QComboBox QAbstractItemView {
  background: #3c3c3c;
  outline: none;
  selection-background-color: #062f4a;
}
QComboBox:focus {
  border: 1px solid #215D9C;
}
QComboBox QLineEdit:focus {
  border-right: none;
}
QTextEdit {
  /* Multiple line edit */
  background-color: #2D3234;
  border: 1px solid #1B1F20;
}
TNavBand > QPushButton,
nav_scroll_button_t {
  border: none;
  background: transparent;
  min-height: default;
  min-width: default;
  padding: default;
  border-radius: default;
}
RegJumpButton {
  min-height: 0;
  min-width: 0;
  border: none;
  padding: 0;
}
/* Dock widget which has tabs */
DockWidgetTitle {
  font: 10px 'Segoe UI', 'Helvetica Neue';
  background: #252526;
  text-transform: uppercase;
  min-height: 0px;
  height: 20px;
  padding: 0px 5px 0px 5px;
  border: none;
}
DockWidgetTitle[active="true"]
{
    background-color: #555;
}
DockWidgetTitle DockWidgetTitleButton {
  color: #fff;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
DockWidgetTitle DockWidgetTitleButton:hover {
  background: rgba(255, 255, 255, 0.1);
}
/* Close, maximize and undock button for dock widgets */
IDADockWidget > QWidget > QAbstractButton
{
    border-radius: 2px;
    padding: -3px;
    icon-size: 8px;
}
DockWidgetTitle DockWidgetTitleButton[toolTip="Close"] {
  qproperty-icon: url("$RELPATH/icons/close.png");
}
DockWidgetTitle DockWidgetTitleButton[toolTip="Fullscreen"] {
  qproperty-icon: url("$RELPATH/icons/fullscreen.png");
}
DockWidgetTitle DockWidgetTitleButton[toolTip="Float"] {
  qproperty-icon: url("$RELPATH/icons/float.png");
}
EditContainer {
  border: 1px solid #1B1F20;
/*  font-family: "<TEXT_INPUT_FONT_FAMILY>";
  font-size: <TEXT_INPUT_FONT_SIZE>;
  font-style: <TEXT_INPUT_FONT_STYLE>;
  font-weight: <TEXT_INPUT_FONT_WEIGHT>;
  */
}
QScrollBar {
  /* Scrollbar */
  background-color: #1E1E1E;
  border: 0px solid #383838;
  margin: 0;
  padding: 0;
}
QScrollBar:horizontal {
  border-top-width: 1px;
  height: 12px;
}
QScrollBar:vertical {
  border-left-width: 1px;
  width: 12px;
}
QScrollBar:sub-line {
  width: 0;
  height: 0;
}
QScrollBar:add-line {
  width: 0;
  height: 0;
}
QScrollBar:add-page {
  background: none;
  width: 0;
  height: 0;
}
QScrollBar:sub-page {
  background: none;
  width: 0;
  height: 0;
}
QScrollBar:handle {
  background-color: rgba(121, 121, 121, 0.4);
}
QScrollBar:handle:vertical {
  min-height: 20px;
}
QScrollBar:handle:horizontal {
  min-width: 20px;
}
QScrollBar:handle:hover {
  background-color: rgba(100, 100, 100, 0.7);
}
ChooserContainer {
  border: 1px solid #1B1F20;
}
QGroupBox {
  border: 1px solid #1B1F20;
  margin-top: 5px;
}
QGroupBox:title {
  subcontrol-origin: margin;
  subcontrol-position: top center;
}
TextArrows {
  border-bottom: 1px solid #414141;
}
IDADockWidget[objectName="Output window"] {
  /* Output window */
  qproperty-windowIcon: url("$RELPATH/icons/blank.png");
}
IDADockWidget[objectName="Output window"] DockWidgetTitle {
  background: #1e1e1e;
  color: #e7e7e7;
  margin: 0;
}
IDADockWidget[objectName="Output window"] QTextEdit:focus {
  border: 1px solid #215D9C;
}
IDADockWidget[objectName="Output window"] QLineEdit {
  padding-bottom: 2px;
}
IDADockWidget[objectName="Output window"] QGroupBox {
  margin: 0;
  padding: 0;
  border: none;
}
IDADockWidget[objectName="Output window"] QGroupBox QPushButton {
  border: none;
  text-transform: uppercase;
  min-width: 70px;
}
IDADockWidget[objectName="Output window"] QGroupBox QPushButton:hover {
  border: none;
}
IDADockWidget[objectName="Output window"] QGroupBox QPushButton:focus {
  border: none;
}

CustomIDAMemo
{
      border: none;
/*  font-family: "<TEXT_INPUT_FONT_FAMILY>";
  font-size: <TEXT_INPUT_FONT_SIZE>;
  font-style: <TEXT_INPUT_FONT_STYLE>;
  font-weight: <TEXT_INPUT_FONT_WEIGHT>;
  */

    qproperty-line-fg-default: #96b788;
    qproperty-line-fg-regular-comment: #6a9955;
    qproperty-line-fg-repeatable-comment: #808080;
    qproperty-line-fg-automatic-comment: #808080;
    qproperty-line-fg-insn: #d4d4d4;
    qproperty-line-fg-dummy-data-name: #9cdcfe;
    qproperty-line-fg-regular-data-name: #9cdcfe;
    qproperty-line-fg-demangled-name: #dcdcaa;
    qproperty-line-fg-punctuation: #d4d4d4;
    qproperty-line-fg-charlit-in-insn: #d7ba7d;
    qproperty-line-fg-strlit-in-insn: #00ff00;
    qproperty-line-fg-numlit-in-insn: #6a9955;
    qproperty-line-fg-void-opnd: #d7ba7d;
    qproperty-line-fg-code-xref: #6a9955;
    qproperty-line-fg-data-xref: #569cd6;
    qproperty-line-fg-code-xref-to-tail: #e51400;
    qproperty-line-fg-data-xref-to-tail: #808000;
    qproperty-line-fg-error: #010101;
    qproperty-line-fg-line-prefix: #c0c0c0;
    qproperty-line-fg-opcode-byte: #b5cea8;
    qproperty-line-fg-extra-line: #dcdcaa;
    qproperty-line-fg-alt-opnd: #0000ff;
    qproperty-line-fg-hidden: #d4d4d4;
    qproperty-line-fg-libfunc: #9cdcfe;
    qproperty-line-fg-locvar: #9cdcfe;
    qproperty-line-fg-dummy-code-name: #9cdcfe;
    qproperty-line-fg-asm-directive: #9cdcfe;
    qproperty-line-fg-macro: #c586c0;
    qproperty-line-fg-strlit-in-data: #ce9178;
    qproperty-line-fg-charlit-in-data: #ce9178;
    qproperty-line-fg-numlit-in-data: #6a9955;
    qproperty-line-fg-keyword: #c586c0;
    qproperty-line-fg-register-name: #9cdcfe;
    qproperty-line-fg-import-name: #c586c0;
    qproperty-line-fg-segment-name: #d4d4d4;
    qproperty-line-fg-dummy-unknown-name: #9cdcfe;
    qproperty-line-fg-code-name: #dcdcaa;
    qproperty-line-fg-unknown-name: #00ffff;
    qproperty-line-fg-collapsed-line: #6a9955;
    qproperty-line-bg-default: #2d2d2d;
    qproperty-line-bg-selected: #32ade1;
    qproperty-line-pfx-libfunc: #00eaea;
    qproperty-line-pfx-func: #569cd6;
    qproperty-line-pfx-insn: #800000;
    qproperty-line-pfx-data: #858585;
    qproperty-line-pfx-unexplored: #808000;
    qproperty-line-pfx-extern: #ff00ff;
    qproperty-line-pfx-current-item: #569cd6;
    qproperty-line-pfx-current-line: #aaaaaa;
    qproperty-graph-bg-top: #3c3c3c;
    qproperty-graph-bg-bottom: #3c3c3c;
    qproperty-graph-node-title-normal: #4b4b4b;
    qproperty-graph-node-title-selected: #b1f9f9;
    qproperty-graph-node-title-current: #a0cfcf;
    qproperty-graph-node-frame-group: #ffff00;
    qproperty-graph-node-shadow: #000000;
    qproperty-graph-node-high1: #ccffff;
    qproperty-graph-node-high2: #ccffcc;
    qproperty-graph-node-foreign: #ff0000;
    qproperty-graph-edge-normal: #0000ff;
    qproperty-graph-edge-yes: #008000;
    qproperty-graph-edge-no: #ff0000;
    qproperty-graph-edge-high: #ff00ff;
    qproperty-graph-edge-current: #00ffff;
    qproperty-line-fg-patched-bytes: #804040;
    qproperty-line-fg-unsaved-changes: #ff8000;
    qproperty-line-bg-highlight: #28639b;
    qproperty-line-bg-bpt-enabled: #e51400;
    qproperty-line-bg-bpt-disabled: #019b10;
    qproperty-line-bg-bpt-unavailable: #ff8000;
}

TCpuRegs
{
    qproperty-register-defined: #858585;
    qproperty-register-changed: #569cd6;
    qproperty-register-edited: #800080;
    qproperty-register-unavailable: #808080;
}

navband_t
{
    qproperty-lib-function: #aaffff;
    qproperty-function: #00a2e8;
    qproperty-code: #b97a57;
    qproperty-data: #c0c0c0;
    qproperty-undefined: #b6b66b;
    qproperty-extern: #c586c0;
    qproperty-error: #ff5b5b;
    qproperty-gap: #000000;
    qproperty-cursor: #ffff7f;
    qproperty-auto-analysis-cursor: #ffaa00;
    qproperty-lumina-function: #32cd32;
}

MainMsgList
{
    color: #cccccc;
    background-color: #1e1e1e;
}

TextArrows
{
    qproperty-jump-in-function: #c0c0c0;
    qproperty-jump-external-to-function: #ff0000;
    qproperty-jump-under-cursor: #000000;
    qproperty-jump-target: #008000;
    qproperty-register-target: #4040ff;
}

TextEdit {
    qproperty-keyword1-fg: #0000ff;
    qproperty-keyword2-fg: #800080;
    qproperty-keyword3-fg: #ff0000;
    qproperty-string-fg: #8b0000;
    qproperty-comment-fg: #006400;
    qproperty-preprocessor-fg: #0000ff;
    qproperty-number-fg: #008b8b;
}

CustomIDAMemo[debugging="true"]
{
    qproperty-line-bg-default: #1e1e1e;
    qproperty-line-bgovl-current-ip: #4b4b18;
}

CustomIDAMemo[hints="true"]
{
    qproperty-line-bg-default: #252526;
}

navigator_t {
    height: 10px;
}
